*{outline:0!important; box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin: 0;padding: 0;}
html,body {width: 100%;}
html {font-family: sans-serif;}
body {width: 100%;background: #fff;min-width: 320px;-ms-text-size-adjust: 100%;text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-wrap: break-word;word-break: keep-all;}
body,input,select,textarea,button {border: none;font-size: 12px;font-family: "Noto Sans KR", sans-serif;color: #727272;}
ul,ol,li {list-style: none;}
table {width: 100%;border-spacing: 0;border-collapse: collapse;}
fieldset {width: 100%;border: 0;}
address,cite,code,em {font-style: normal;font-weight: normal;}
label,img,input,select,textarea,button {vertical-align: middle;}
.hide,caption,legend {line-height: 0;font-size: 1px;overflow: hidden;}
hr {display: none;}
.main,header,section,nav,footer,aside,article,figure {display: block;}
a {color: #000;text-decoration: none;}
img {width: auto;max-width: 100%;}
/* Selection */
::-moz-selection {background: rgba(0, 0, 0, 0.5);}
::selection {background: rgba(0, 0, 0, 0.5);}

/* Kakao Map */
.root_daum_roughmap {width: 100% !important;border-radius: 0 !important;border: none !important;padding: 0 !important;}
.root_daum_roughmap .wrap_controllers {display: none !important;}

/* Fonts */
.montserrat {font-family: "Montserrat", sans-serif;}
.thefaceshop {font-family: "THEFACESHOP INKLIPQUID";}

/* input */
input::-ms-clear,input::-ms-reveal {display: none;width: 0;height: 0;}
input::-webkit-search-decoration,input::-webkit-search-cancel-button,input::-webkit-search-results-button,input::-webkit-search-results-decoration {display: none;}





/*======== main 공통 ========*/
.main {z-index: 1000;}
.main section {padding: 50px 0;}



/*======== main section01 ========*/
.main .section01 {height: 100vh; display: flex; align-items: end;}
/* .main .section01 > div {width: 100%;} */
.main .section01 .textBox {width: 100%;}
.main .section01 .textBox p {color: #000; font-size: 30px; font-weight: 700; line-height: 1.5; margin-bottom: 2.5rem; width: 537px; height: 90px;}
.main .section01 .textBox h4 {width: 100%;}
.main .section01 .textBox h4 > img {width: 100%; height: auto;}



/*======== main section02 ========*/
.main .section02 {position: relative;}

.main .section02 .content01 {position: relative;}
.main .section02 .content01 .textBox {top: 140px; margin-top: 60vh; position: sticky;}
.main .section02 .content01 .textBox h4 {color: white; font-size: 20px; font-weight: 700;margin-bottom: 24px;}
.main .section02 .content01 .textBox p {font-size: 28px; font-weight: 700; color: white;margin-bottom: 8px;}
.main .section02 .content01 .textBox span {font-size: 20px;}
.main .section02 .content01 ul {margin-top: 200px; font-weight: 700;display: flex; flex-direction: column; flex-wrap: wrap; align-content: flex-end;}
.main .section02 .content01 ul li {padding: 30px 0; border-top: 1px solid #fff; display: flex; position: relative; justify-content: space-around; align-items: center;}
.main .section02 .content01 ul li:last-child {border-bottom: 1px solid #fff;}
.main .section02 .content01 ul li .leftBox {color: white;}
.main .section02 .content01 ul li .leftBox p {font-size: 22px; font-weight: 700;}
.main .section02 .content01 ul li .leftBox span {font-size: 15px; color: #dadada;}
.main .section02 .content01 ul li .rightBox {color: white; width: 70%; display: flex; gap: 8px; flex-direction: column; align-items: flex-start;}
.main .section02 .content01 ul li .rightBox p {font-size: 22px;font-weight: 500;}
.main .section02 .content01 ul li .rightBox #vd {font-size: 25px;font-weight: 700;}
.main .section02 .content01 ul li .rightBox span {font-size: 25px;}

.main .section02 .content02 {margin-top: 400px; overflow: hidden;}

.main .section02 .gsap_pin {position: absolute; height: 100vh; width: 100%; top: 0; left: 0;right: 0; overflow: hidden; z-index: -1;}
.main .section02 .gsap_pin .background {width: calc(100% - 64px + var(--padding)); position: absolute; top: 0; height: 100vh; left: 50%; transform: translate(-50%,0) scale(var(--scale)); z-index: -1;}
.main .section02 .gsap_pin .background .cover {position: absolute; top: 0; bottom: 0; left: 0; width: 100%; background: #000; opacity: var(--cover_opacity); z-index: 9;}
.main .section02 .gsap_pin .background img {position: absolute; top: 0; bottom: 0; left: 0; width: 100%; z-index: 8;}
.main .section02 .gsap_pin .background img.fadeOut {opacity: var(--fadeOut);}
:root {
  --padding:0px;
  --cover_opacity:0;
  --scale:1;
  --fadeOut:0;
}

/*======== main section03 ========*/
.main .section03 {background-color: #000; min-width: 100vw; min-height: 100vh; display: flex; position: relative;}
.main .section03 .topBox {position: sticky; margin-bottom: 20vh; line-height: 5rem ; color: #fff; font-size: 1.25rem; font-weight: 700; font-size: 90px; font-weight: 700; animation: fadein 2s ease-in-out;}
@keyframes fadein {from{opacity: 0;} to{opacity: 1;}}
.main .section03 .smalltxt {font-size: 20px;animation: fadeout 1s ease-in-out;animation-duration: 1s;}
@keyframes fadeout {from{font-size: 80px;} to{font-size: 20px;}}
.main .section03 .topBox p {margin-bottom: 16px;}
.main .section03 .topBox p img {width: 150px; height: 80px; margin-right: 1%;animation:slide-in-blurred-left 2s cubic-bezier(.23,1.000,.32,1.000) both}
@keyframes slide-in-blurred-left{0%{transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform-origin:100% 50%;filter:blur(40px);opacity:0}100%{transform:translateX(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}
.main .section03 .btmBox {color: #fff; font-weight: 700; font-size: 24px; display: flex; flex-wrap: wrap; flex-direction: column; align-items: flex-start; align-content: flex-end;}
.main .section03 .btmBox .info {display: flex; flex-direction: column; align-items: flex-start; padding-bottom: 24px;}
.main .section03 .btmBox .info p {margin-bottom: 16px;}
.main .section03 .btmBox .info p img {width: 30px; height: 30px; margin-right: 16px;}
.main .section03 .btmBox a {font-size: 24px; font-weight: 700; color:#fff; background: none; border: 2px solid #fff; border-radius: 40px; padding: 20px 30px;}





/*======== loop 라이브러리 css ========*/
:root {
  --gap-width: 20px;
  --slide-width: 210px;
  --slide-height: 210px;
  --slide-bg-color: #a7a7a763;
  --overlay-bg-color: rgba(0, 0, 0, 0.5);
  --overlay-text-color: #fff;
  --overlay-transition: opacity 0.3s ease;
  --border-radius: 20px;}

.carousel {overflow: hidden; width: 100%;}
.carousel-track {display: flex;gap: var(--gap-width);animation: scroll var(--scroll-duration) linear infinite;transform: translateX(calc(-50% + var(--slide-width) / 2));}
.slide {display: flex;justify-content: center;align-items: center;background: var(--slide-bg-color);flex: 0 0 var(--slide-width);height: var(--slide-height);border-radius: var(--border-radius);position: relative;overflow: hidden;}
.slide img {width: 70%;height: 70%;object-fit: contain;transform: none; /* 기존 transform 제거 */}
/* .slide {background: var(--slide-bg-color);flex: 0 0 var(--slide-width);height: var(--slide-height);border-radius: var(--border-radius);position: relative;overflow: hidden;}
.slide img {width: 70%;height: 70%;object-fit: cover;transform: translate(-12%, -12%);} */
.slide:hover {transform:  scale(1.3);-webkit-transform: scale(1.3);-ms-transform: scale(1.3);transition-duration: 1s;}
.overlay {position: absolute;bottom: 0;background: var(--overlay-bg-color);color: var(--overlay-text-color);width: 100%;height: 100%;opacity: 0;transition: var(--overlay-transition);border-radius: var(--border-radius);display: flex;justify-content: center;align-items: center;}
.slide:hover .overlay {opacity: 1;}

@keyframes scroll {0% {  transform: translateX(0);}
  100% {  transform: translateX(calc(-1 * var(--total-width)));}
}

.carousel-track:hover {animation-play-state: paused;}
