/*======== header ========*/
.header {padding: 0 32px; color: white; background-color: #ffffff; position: fixed; display: flex; align-items: center; justify-content: space-between; width: 100%; height: 80px; z-index: 9000;}
.logo {width: 296px; height: 28px;}
.logo > img {width: 296px; height: 28px;}
.header .nav {width: 224px; height: 28px; display: flex; align-items: center; justify-content: space-between;}
.header .nav > a {text-decoration-line: none; color: black; font-weight: bold; font-size: 17px;}


/*======== common ========*/
.inner {
    padding: 0 32px;
    width: 100%;
}