h4 {
  margin: 0;
}
p {
  margin: 0;
}
span {
  display: block;
}
.App-header {
  position: fixed;
  display: block;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  color: white;
}

a {
  width: 100%;
  height: 28px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 48px 24px;
}

.logo {
  width: 296px;
  height: 28px;
}

a .logo > img {
  width: 296px;
  height: 28px;
}

a .nav {
  width: 224px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 32px;
  color: black;
  font-weight: bold;
  font-size: 17px;
  padding-right: 48px;
}

a .nav > a {
  text-decoration-line: none;
}

main {
}
main section {
}

main .section01 {
  height: 100vh;
  display: flex;
  align-items: end;
}
main .section01 > div {
  margin: 24px;
  margin-bottom: 48px;
}
main .section01 > div .textBox {
}
main .section01 > div .textBox p {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  width: 537px;
  height: 90px;
}

main .section01 > div .textBox h4 > img {
  width: 95vw;
  height: auto;
}

main .section02 {
  /* background-image: url(tattoo&design.png);
  height: 100vh; */
}
main .section02 > div {
  position: relative;
  display: flex;
  flex-direction: column;
}
main .section02 > div > div {
}
main .section02 > div > .leftBox {
  position: sticky;
  top: 80px;
  margin-bottom: 30vh;
}
main .section02 > div > .leftBox .textBox {
  margin-top: 40px;
  padding-left: 24px;
}
main .section02 > div > .leftBox .textBox span {
  font-size: 20px;
}
main .section02 > div > .leftBox .textBox p {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

main .section02 > div > .leftBox .textBox .intro {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

main .section02 > div > .leftBox .backgroundBox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
}
main .section02 > div > .leftBox .backgroundBox figure {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .section02 > div > .leftBox .backgroundBox figure:nth-child(1) {
  background-image: url(./assets/image/tattoo&design.png);
}
main .section02 > div > .leftBox .backgroundBox figure:nth-child(2) {
  background-image: url(./assets/image/ai_03.png);
}

main .section02 > div > .rightBox {
}
main .section02 > div > .rightBox .listBox {
  display: flex;
  justify-content: flex-end;
}
main .section02 > div > .rightBox .listBox ul {
  width: 50%;
}
main .section02 > div > .rightBox .listBox ul li {
  padding: 30px 0;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}
main .section02 > div > .rightBox .listBox ul li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
}
main .section02 > div > .rightBox .listBox ul li .leftBox {
  /* width: 30%; */
  color: white;
}
main .section02 > div > .rightBox .listBox ul li .leftBox p {
  font-size: 22px;
  font-weight: 500;
}
main .section02 > div > .rightBox .listBox ul li .leftBox span {
  font-size: 15px;
  color: #dadada;
}
main .section02 > div > .rightBox .listBox ul li .rightBox {
  width: 70%;
  color: white;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
}
main .section02 > div > .rightBox .listBox ul li .rightBox p {
  font-size: 22px;
}

main .section02 > div > .rightBox .listBox ul li .rightBox #vd {
  font-size: 25px;
}

main .section02 > div > .rightBox .listBox ul li .rightBox span {
  font-size: 25px;
}
main .section02 > div > .rightBox > .iconBox {
  margin-top: 60vh;
  margin-bottom: 8vh;
}

/* main .section03 {
  background-image: url(ai_03.png);
  height: 100vh;
} */

main .section03 > div > .image-box {
  width: 210px;
  height: 210px;
  background-color: black;
  display: table;
}

/*======== loop 라이브러리 css ========*/
:root {
  --gap-width: 20px;
  --slide-width: 210px;
  --slide-height: 210px;
  --slide-bg-color: #a7a7a7;
  --overlay-bg-color: rgba(0, 0, 0, 0.5);
  --overlay-text-color: #fff;
  --overlay-transition: opacity 0.3s ease;
  --border-radius: 20px;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  gap: var(--gap-width);
  animation: scroll var(--scroll-duration) linear infinite;
}

.slide {
  background: var(--slide-bg-color);
  flex: 0 0 var(--slide-width);
  height: var(--slide-height);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
}

.slide img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  transform: translate(12%, 12%);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: var(--overlay-bg-color);
  color: var(--overlay-text-color);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--overlay-transition);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide:hover .overlay {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--total-width)));
  }
}

.iconBox .carousel-track:hover {
  animation-play-state: paused;
}
